{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Cloud API",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v22.0"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/app/uploads/": {
      "post": {
        "tags": ["Business Profiles"],
        "summary": "Resumable Upload - Create an Upload Session",
        "description": "The Resumable Upload series of requests allow you to upload Profile Pictures to Meta so you can receive a handle to update these pictures in the Business Profile API. The Resumable Upload requests consist of the following:\n\n* **Resumable Upload - Create an Upload Session**\n* **Resumable Upload - Upload File Data**\n* **Resumable Upload - Query File Upload Status**\n\nTo create a new upload session, make a **POST** call using the `/app/uploads` endpoint.\n\nFor more information, see [Create an Upload Session](https://developers.facebook.com/docs/graph-api/guides/upload#step-1--create-a-session).\n\n**Response**  \nThe call returns a server-generated value that includes the session ID that you can use in later calls. \n\n>Copy this value and Open the **Environment quick look** in Postman and paste it in the **CURRENT VALUE** for `Upload-ID`.",
        "operationId": "resumableUploadCreateAnUploadSession",
        "parameters": [
          {
            "name": "file_length",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "<YOUR_FILE_LENGTH>"
            },
            "description": "**Required**<br/>Specifies the size of your file in bytes."
          },
          {
            "name": "file_type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "image/jpeg"
            },
            "description": "**Required**<br/>Specifies the MIME type. Values are <ul><li>`image/jpeg`</li><li>`image/png`</li><li>`video/mp4`</li></ul>"
          },
          {
            "name": "file_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "myprofile.jpg"
            },
            "description": "**Optional**<br/>Specifies the file name you are using to create the session."
          }
        ],
        "responses": {
          "200": {
            "description": "Resumable Upload - Create an Upload Session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI"
                    }
                  }
                },
                "examples": {
                  "Resumable Upload - Create an Upload Session": {
                    "value": {
                      "id": "upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{upload-id}": {
      "get": {
        "tags": ["Business Profiles"],
        "summary": "Resumable Upload - Query File Upload Status",
        "description": "You can query the status of an upload session by making a **GET** call to an endpoint that is named based on the **`Upload-ID`** that was returned through the **Resumable Upload - Create an Upload Session** request.\n\nWhen uploading data, you **must include the access token as an HTTP header.**\n\n**Example**\n``` bash\nGET https://graph.facebook.com/v14.0/upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI HTTP/1.1\nAuthorization: OAuth {{USER_ACCESS_TOKEN}}\n\n```\n\nFor more information, see [Query File Upload Status after an Interruption](https://developers.facebook.com/docs/graph-api/guides/upload#interruptions).\n\n**Response**\nThe result will be a JSON-encoded ID and offset that looks like the following:\n\n``` json\n{ \"id\": \"upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI\", \"file_offset\": 0 }\n```",
        "operationId": "resumableUploadQueryFileUploadStatus",
        "parameters": [
          {
            "name": "cache-control",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "no-cache"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resumable Upload - Query File Upload Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_offset": {
                      "type": "number",
                      "example": 0
                    },
                    "id": {
                      "type": "string",
                      "example": "upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI"
                    }
                  }
                },
                "examples": {
                  "Resumable Upload - Query File Upload Status": {
                    "value": {
                      "file_offset": 0,
                      "id": "upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Business Profiles"],
        "summary": "Resumable Upload - Upload File Data",
        "description": "To upload a profile picture to your business profile, make a **POST** call to the named endpoint {{Version}}/{{upload-id}}, where **upload-id** is the value you received from **Resumable Upload - Create an Upload Session**. This value should look like the following:\n\n``` json\n\"upload:MTphdHRhY2htZW50Ojlk2mJiZxUwLWV6MDUtNDIwMy05yTA3LWQ4ZDPmZGFkNTM0NT8=?sig=ARZqkGCA_uQMxC8nHKI\"\n\n```\n\nThe **`file_offset`** parameter **must** be included as an HTTP header. It will not work as a query parameter.\n\nThe access token must be included in an Authorization HTTP header. It cannot work as a query parameter.\n\nFor more information, see [Initiate Data Upload](https://developers.facebook.com/docs/graph-api/guides/upload#step-2--initiate-upload).\n\n**Response**  \nThe call returns a handle that includes the session ID that you can use to update your profile picture using **Update Business Profile**.",
        "operationId": "resumableUploadUploadFileData",
        "parameters": [
          {
            "name": "file_offset",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "0"
            },
            "description": "Specifies the offset to start the upload. The offset value should always be `0`."
          }
        ],
        "responses": {
          "200": {
            "description": "Resumable Upload - Upload File Data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "h": {
                      "type": "string",
                      "example": "2:c2FtcGxlLm1wNA==:image/jpeg:GKAj0gAUCZmJ1voFADip2iIAAAAAbugbAAAA:e:1472075513:ARZ_3ybzrQqEaluMUdI"
                    }
                  }
                },
                "examples": {
                  "Resumable Upload - Upload File Data": {
                    "value": {
                      "h": "2:c2FtcGxlLm1wNA==:image/jpeg:GKAj0gAUCZmJ1voFADip2iIAAAAAbugbAAAA:e:1472075513:ARZ_3ybzrQqEaluMUdI"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "upload-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{business-phone-number-id}/whatsapp_business_profile": {
      "get": {
        "tags": ["Business Profiles"],
        "summary": "Get Business Profile",
        "description": "To get information about a business profile, make a **GET** call to the **`/{{Phone-Number-ID}}/whatsapp_business_profile`** endpoint. Within the **`whatsapp_business_profile`** request, you can specify what you want to know from the business. \n\n## Fields\n\n| Name                    | Description                          |\n|-------------------------|--------------------------------------|\n| **`messaging_product`** | **Required**.<br/>The messaging service used for the request. Always set the value to `\"whatsapp\"` if you are using WhatsApp for Business API.|\n| **`address`**           | The address of the business. The maximum character limit for the string is 256. |\n| **`description`** |Description of the business. The maximum character limit for the string is 256. |\n| **`vertical`** | **Optional**. <br/>The industry type of the business. This can be either an empty string or one of the accepted values<br/><br/>**Values**: `UNDEFINED`, `OTHER`, `AUTO`, `BEAUTY`, `APPAREL`, `EDU`, `ENTERTAIN`, `EVENT_PLAN`, `FINANCE`, `GROCERY`, `GOVT`, `HOTEL`, `HEALTH`, `NONPROFIT`, `PROF_SERVICES`, `RETAIL`, `TRAVEL`, `RESTAURANT`, or `NOT_A_BIZ`.|\n| **`about`** | **Optional**. <br/>The text to display in business profile's About section The max length for the string is 139 characters. The minimum length for the string is 1 character.<br/><br/>Rendered emojis are supported however their unicode values are not. Emoji unicode values must be Java- or JavaScript-escape encoded.|\n| **`email`** | **Optional**. <br/>The contact email address (in valid email format) of the business. The maximum character limit for the string is 128 characters.|\n| **`websites`** | **Optional**. <br/>The URLs associated with the business. For instance, a website, Facebook Page, or Instagram. You must include the http:// or https:// portion of the URL. There is a maximum of 2 websites with a maximum of 256 characters each. |\n| **`profile_picture_handle`** | **Optional**. <br/>The handle of the profile picture generated from a call to the [Resumable Upload API](https://developers.facebook.com/docs/graph-api/guides/upload).|\n\n<!-- grahamp 10262022: Removed table item:\n| **`id`**                | **Required**.<br/>The ID of the business profile object. |-->",
        "operationId": "getBusinessProfile",
        "responses": {
          "200": {
            "description": "Get Business Profile ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "business_profile": {
                            "type": "object",
                            "properties": {
                              "about": {
                                "type": "string",
                                "example": "profile-about-text"
                              },
                              "address": {
                                "type": "string",
                                "example": "business-address"
                              },
                              "description": {
                                "type": "string",
                                "example": "business-description"
                              },
                              "email": {
                                "type": "string",
                                "example": "business-email"
                              },
                              "messaging_product": {
                                "type": "string",
                                "example": "whatsapp"
                              },
                              "profile_picture_url": {
                                "type": "string",
                                "example": "<PROFILE_PICTURE_URL>"
                              },
                              "vertical": {
                                "type": "string",
                                "example": "business-industry"
                              },
                              "websites": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "https://website-1"
                                },
                                "example": [
                                  "https://website-1",
                                  "https://website-2"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "example": [
                        {
                          "business_profile": {
                            "about": "profile-about-text",
                            "address": "business-address",
                            "description": "business-description",
                            "email": "business-email",
                            "messaging_product": "whatsapp",
                            "profile_picture_url": "<PROFILE_PICTURE_URL>",
                            "vertical": "business-industry",
                            "websites": [
                              "https://website-1",
                              "https://website-2"
                            ]
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Get Business Profile ID": {
                    "value": {
                      "data": [
                        {
                          "business_profile": {
                            "about": "profile-about-text",
                            "address": "business-address",
                            "description": "business-description",
                            "email": "business-email",
                            "messaging_product": "whatsapp",
                            "profile_picture_url": "<PROFILE_PICTURE_URL>",
                            "vertical": "business-industry",
                            "websites": [
                              "https://website-1",
                              "https://website-2"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Business Profiles"],
        "summary": "Update Business Profile",
        "description": "Update the business profile information such as the business description, email or address. To update your profile, make a **POST** call to **`/{{Phone-Number-ID}}/whatsapp_business_profile`**. In your request, you can include the parameters listed below.\n\nIt is recommended that you use **Resumable Upload - Create an Upload Session** to obtain an upload ID. Then use this upload ID in a call to **Resumable Upload - Upload File Data** to obtain the picture handle. This handle can be used for the **`profile_picture_handle`**.\n\n## Request Parameters\n\n| Name                    | Description                          |\n|-------------------------|--------------------------------------|\n| **`messaging_product`** | **Required**.<br/>The messaging service used for the request. Always set the value to `\"whatsapp\"` if you are using WhatsApp for Business API.|\n| **`address`**           | **Optional**.<br/>The address of the business. The maximum character limit for the string is 256. |\n| **`description`** | **Optional**.<br/>The description of the business. The maximum character limit for the string is 256. |\n| **`vertical`** | **Optional**. <br/>The industry type of the business. This can be either an empty string or one of the accepted values.<br/><br/>**Values**: `UNDEFINED`, `OTHER`, `AUTO`, `BEAUTY`, `APPAREL`, `EDU`, `ENTERTAIN`, `EVENT_PLAN`, `FINANCE`, `GROCERY`, `GOVT`, `HOTEL`, `HEALTH`, `NONPROFIT`, `PROF_SERVICES`, `RETAIL`, `TRAVEL`, `RESTAURANT`, or `NOT_A_BIZ`.|\n| **`about`** | **Optional**. <br/>The text to display in business profile's About section. The max length for the string is 139 characters. The minimum length for the string is 1 character. <br/><br/>Rendered emojis are supported however their unicode values are not. Emoji unicode values must be Java- or JavaScript-escape encoded.|\n| **`email`** | **Optional**. <br/>The contact email address (in valid email format) of the business. The maximum character limit for the string is 128 characters.|\n| **`websites`** | **Optional**. <br/>The URLs associated with the business. For instance, a website, Facebook Page, or Instagram. You must include the http:// or https:// portion of the URL. There is a maximum of 2 websites with a maximum of 256 characters each. |\n| **`profile_picture_handle`** | **Optional**. <br/>The handle of the profile picture generated from a call to **Resumable Upload - Upload File Data**. For more information, see [Resumable Upload API](https://developers.facebook.com/docs/graph-api/guides/upload).|\n\n## Delete Business Profile\n\nTo delete your business profile, you must [delete your phone number](https://developers.facebook.com/docs/whatsapp/phone-numbers#delete-phone-number-from-a-business-account).",
        "operationId": "updateBusinessProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "about": {
                    "type": "string",
                    "example": "<profile-about-text>"
                  },
                  "address": {
                    "type": "string",
                    "example": "<business-address>"
                  },
                  "description": {
                    "type": "string",
                    "example": "<business-description>"
                  },
                  "email": {
                    "type": "string",
                    "example": "<business-email>"
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  },
                  "profile_picture_handle": {
                    "type": "string",
                    "example": "4:VGVzdC5wbmc=:aW1hZ2UvanBlZw==:ARat4Mt-L09JON3f30SmDkdyPSuyBkDDYiB4TFXuXISjdgHoNp2b7j882_9Jzr2tPrdKxi92UygyVzTivJiOvmebMpZ6MIjTik3gTyI3ZCQAgQ:e:1659995302:2022308451254161:636685196:ARZf1ftR5N6-qSLtklU"
                  },
                  "vertical": {
                    "type": "string",
                    "example": "<business-industry>"
                  },
                  "websites": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "<https://website-1>"
                    },
                    "example": ["<https://website-1>", "<https://website-2>"]
                  }
                }
              },
              "examples": {
                "Update Business Profile": {
                  "value": {
                    "about": "<profile-about-text>",
                    "address": "<business-address>",
                    "description": "<business-description>",
                    "email": "<business-email>",
                    "messaging_product": "whatsapp",
                    "profile_picture_handle": "4:VGVzdC5wbmc=:aW1hZ2UvanBlZw==:ARat4Mt-L09JON3f30SmDkdyPSuyBkDDYiB4TFXuXISjdgHoNp2b7j882_9Jzr2tPrdKxi92UygyVzTivJiOvmebMpZ6MIjTik3gTyI3ZCQAgQ:e:1659995302:2022308451254161:636685196:ARZf1ftR5N6-qSLtklU",
                    "vertical": "<business-industry>",
                    "websites": ["<https://website-1>", "<https://website-2>"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update Business Profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "business_profile": {
                            "type": "object",
                            "properties": {
                              "about": {
                                "type": "string",
                                "example": "<profile-about-text>"
                              },
                              "address": {
                                "type": "string",
                                "example": "<business-address>"
                              },
                              "description": {
                                "type": "string",
                                "example": "<business-description>"
                              },
                              "email": {
                                "type": "string",
                                "example": "<business-email>"
                              },
                              "id": {
                                "type": "string",
                                "example": "<business-profile-id>"
                              },
                              "messaging_product": {
                                "type": "string",
                                "example": "whatsapp"
                              },
                              "profile_picture_url": {
                                "type": "string",
                                "example": "https://pps.whatsapp.net/..."
                              },
                              "vertical": {
                                "type": "string",
                                "example": "<business-industry>"
                              },
                              "websites": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "https://website-1"
                                },
                                "example": [
                                  "https://website-1",
                                  "https://website-2"
                                ]
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "example": "<phone-number-id>"
                          }
                        }
                      },
                      "example": [
                        {
                          "business_profile": {
                            "about": "<profile-about-text>",
                            "address": "<business-address>",
                            "description": "<business-description>",
                            "email": "<business-email>",
                            "id": "<business-profile-id>",
                            "messaging_product": "whatsapp",
                            "profile_picture_url": "https://pps.whatsapp.net/...",
                            "vertical": "<business-industry>",
                            "websites": [
                              "https://website-1",
                              "https://website-2"
                            ]
                          },
                          "id": "<phone-number-id>"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Update Business Profile": {
                    "value": {
                      "data": [
                        {
                          "business_profile": {
                            "about": "<profile-about-text>",
                            "address": "<business-address>",
                            "description": "<business-description>",
                            "email": "<business-email>",
                            "id": "<business-profile-id>",
                            "messaging_product": "whatsapp",
                            "profile_picture_url": "https://pps.whatsapp.net/...",
                            "vertical": "<business-industry>",
                            "websites": [
                              "https://website-1",
                              "https://website-2"
                            ]
                          },
                          "id": "<phone-number-id>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "business-phone-number-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{business-phone-number-id}/deregister": {
      "post": {
        "tags": ["Registration"],
        "summary": "Deregister Phone",
        "description": "To deregister your phone, make a **POST** call to **`{{Phone-Number-ID}}/deregister`**. **Deregister Phone** removes a previously registered phone. You can always re-register your phone using by repeating the registration process.\n\n#### Response\n\nA successful response returns:\n\n``` json\n{\n    \"success\": true\n}\n\n```",
        "operationId": "deregisterPhone",
        "requestBody": {
          "content": {
            "text/plain": {
              "examples": {
                "Deregister Phone": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "business-phone-number-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{app-id}/uploads": {
      "post": {
        "tags": ["Media"],
        "summary": "Template Media Upload Session",
        "description": "Start an upload session by making a POST request with required parameters. This is step 1 of the upload process.",
        "operationId": "TemplateMediaUploadSession",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["file_name", "file_length", "file_type"],
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "Name of the file to upload"
                  },
                  "file_length": {
                    "type": "integer",
                    "description": "File size in bytes"
                  },
                  "file_type": {
                    "type": "string",
                    "enum": [
                      "application/pdf",
                      "image/jpeg",
                      "image/jpg",
                      "image/png",
                      "video/mp4"
                    ],
                    "description": "The file's MIME type"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Upload session ID",
                      "example": "upload:MTphdHRhY2htZW50OmMzZjk3MzlhLWY2ZDktNGUzMS04MmIwLWNhZDExNzllNjcyMz9maWxlX2xlbmd0aD00NDAwMCZmaWxlX3R5cGU9aW1hZ2UlMkZqcGcmZmlsZV9uYW1lPWhlZXRhZWtpbQ==?sig=ARbyRwQ-j8T2qtUbabs"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "app-id",
          "in": "path",
          "required": true,
          "description": "Your app's Meta ID",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/uploads/{upload-id}": {
      "post": {
        "tags": ["Media"],
        "summary": "Template Media Upload File Data",
        "description": "Upload the file data in chunks. This is step 2 of the upload process.",
        "operationId": "TemplateMediaUploadFileData",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "upload-id",
            "in": "path",
            "required": true,
            "description": "Upload session ID returned from the previous request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_offset",
            "in": "header",
            "required": false,
            "description": "The offset of the file chunk being uploaded",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "OAuth access token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File chunk uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "h": {
                      "type": "string",
                      "description": "Uploaded file handle",
                      "example": "2:c2FtcGxl..."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "upload-id",
          "in": "path",
          "required": true,
          "description": "Upload session ID returned from the previous request",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{business-phone-number-id}/media": {
      "post": {
        "tags": ["Media"],
        "summary": "Upload Image",
        "description": "This request uploads an image as .jpeg. The parameters are specified as **form-data** in the request **body**.",
        "operationId": "uploadImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload Image JSON / Upload Sticker File (form-data) / Upload Sticker File JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4490709327384033"
                    }
                  }
                },
                "examples": {
                  "Upload Image JSON": {
                    "value": {
                      "id": "4490709327384033"
                    }
                  },
                  "Upload Sticker File (form-data)": {
                    "value": {
                      "id": "<MEDIA_ID>"
                    }
                  },
                  "Upload Sticker File JSON": {
                    "value": {
                      "id": "4490709327384033"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "business-phone-number-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{media-id}": {
      "get": {
        "tags": ["Media"],
        "summary": "Retrieve Media URL",
        "description": "To retrieve your media’s URL, make a **GET** call to **`/{{Media-ID}}`**. Use the returned URL to download the media file. Note that clicking this URL (i.e. performing a generic GET) will not return the media; you must include an access token. For more information, see [Download Media](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#download-media).\n\nYou can also use the optional query **`?phone_number_id`** for **`Retrieve Media URL`** and **`Delete Media`**. This parameter checks to make sure the media belongs to the phone number before retrieval or deletion.\n\n#### Response\n\nA successful response includes an object with a media URL. The URL is only valid for 5 minutes. To use this URL, see [Download Media](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#download-media).",
        "operationId": "retrieveMediaUrl",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "<PHONE_NUMBER_ID>"
            },
            "description": "Specifies that this action only be performed if the media belongs to the provided phone number."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve Media URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_size": {
                      "type": "string",
                      "example": "303833"
                    },
                    "id": {
                      "type": "string",
                      "example": "2621233374848975"
                    },
                    "messaging_product": {
                      "type": "string",
                      "example": "whatsapp"
                    },
                    "mime_type": {
                      "type": "string",
                      "example": "image/jpeg"
                    },
                    "sha256": {
                      "type": "string",
                      "example": "<HASH>"
                    },
                    "url": {
                      "type": "string",
                      "example": "<URL>"
                    }
                  }
                },
                "examples": {
                  "Retrieve Media URL": {
                    "value": {
                      "file_size": "303833",
                      "id": "2621233374848975",
                      "messaging_product": "whatsapp",
                      "mime_type": "image/jpeg",
                      "sha256": "<HASH>",
                      "url": "<URL>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "media-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{media-id}/": {
      "delete": {
        "tags": ["Media"],
        "summary": "Delete Media",
        "description": "To delete media, make a **DELETE** call to the ID of the media you want to delete.\n\n## Prerequisites\n- [User Access Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens) with **`whatsapp_business_messaging`** permission\n- Media object ID from either uploading media endpoint or media message Webhooks\n\n## Request\n[Perform requests in Graph API Explorer](https://developers.facebook.com/tools/explorer/?method=DELETE&path=media_id&version=v8.0)",
        "operationId": "deleteMedia",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "<PHONE_NUMBER_ID>"
            },
            "description": "Specifies that deletion of the media  only be performed if the media belongs to the provided phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Media",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Delete Media": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "media-id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{media-url}": {
      "get": {
        "tags": ["Media"],
        "summary": "Download Media",
        "description": "When you retrieve a media URL through the **GET** Media endpoint, you must use a User Access Token to download media content from the URL. If you click the URL from a browser, you will get an access error. <br/>\n> **Note**: all media URLs will expire after 5 minutes, you need to retrieve the media URL again if it expires.\n\n## Prerequisites\n- [User Access Token](https://developers.facebook.com/docs/facebook-login/access-tokens#usertokens) with **`whatsapp_business_messaging`** permission\n- A media URL obtained from retrieving media url endpoint \n\n## Response:\nIf successful,  you receive the binary data of media saved in **`media_file`**, response headers contain a `content-type` header to indicate the mime type of returned data. For more information, see [Supported Media Types](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#supported-media-types).\n\nIf media fails to download, you receive a **404 Not Found** response code. In that case, we recommend that you try to [Retrieve Media URL](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#retrieve-media-url) and download again. If doing so doesn't resolve the issue, please try to renew the **`USER_ACCESS_TOKEN`** then retry downloading the media.",
        "operationId": "downloadMedia",
        "responses": {
          "200": {
            "description": "Download Media",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "media-url",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{business-phone-number-id}/messages": {
      "post": {
        "tags": ["Messages"],
        "summary": "Send Message",
        "description": "Send various types of messages like text, media, templates and more using the WhatsApp Cloud API. For detailed information about message types and examples, see [Send Messages Guide](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/send-messages).\n\nA successful response includes a **`wamid`** identifier that can be used to track message status. Messages can be marked as read within 30 days of receipt using the messages endpoint.\n\n**Note**: Only incoming messages can be marked as read.",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "properties": {
                      "type": {
                        "enum": ["text"]
                      },
                      "text": {
                        "required": ["body"],
                        "properties": {
                          "body": {
                            "type": "string"
                          },
                          "preview_url": {
                            "type": "boolean"
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "text",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "message_id": {
                        "type": "string",
                        "example": "wamid.234123"
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "status": {
                        "type": "string",
                        "example": "read"
                      }
                    },
                    "required": ["message_id", "messaging_product", "status"]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["contacts"]
                      },
                      "contacts": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "object",
                            "properties": {
                              "street": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "country_code": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["HOME", "WORK"]
                              }
                            }
                          },
                          "birthday": {
                            "type": "string",
                            "format": "date"
                          },
                          "emails": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["HOME", "WORK"]
                              }
                            }
                          },
                          "name": {
                            "type": "object",
                            "required": ["formatted_name"],
                            "properties": {
                              "formatted_name": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "middle_name": {
                                "type": "string"
                              },
                              "suffix": {
                                "type": "string"
                              },
                              "prefix": {
                                "type": "string"
                              }
                            }
                          },
                          "org": {
                            "type": "object",
                            "properties": {
                              "company": {
                                "type": "string"
                              },
                              "department": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          "phones": {
                            "type": "object",
                            "properties": {
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "CELL",
                                  "MAIN",
                                  "IPHONE",
                                  "HOME",
                                  "WORK"
                                ]
                              },
                              "wa_id": {
                                "type": "string"
                              }
                            }
                          },
                          "urls": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": ["HOME", "WORK"]
                              }
                            }
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      }
                    },
                    "required": [
                      "type",
                      "contacts",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["reaction"]
                      },
                      "reaction": {
                        "required": ["message_id", "emoji"],
                        "properties": {
                          "message_id": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "reaction",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["image"]
                      },
                      "image": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "caption": {
                            "type": "string"
                          }
                        },
                        "oneOf": [
                          {
                            "required": ["id"]
                          },
                          {
                            "required": ["link"]
                          }
                        ]
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "image",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["audio"]
                      },
                      "audio": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          }
                        },
                        "oneOf": [
                          {
                            "required": ["id"]
                          },
                          {
                            "required": ["link"]
                          }
                        ]
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "audio",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["document"]
                      },
                      "document": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "link": {
                            "type": "string"
                          },
                          "caption": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          }
                        },
                        "oneOf": [
                          {
                            "required": ["id"]
                          },
                          {
                            "required": ["link"]
                          }
                        ]
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "document",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["template"]
                      },
                      "template": {
                        "required": ["name", "language"],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "intro_catalog_offer"
                          },
                          "language": {
                            "required": ["code"],
                            "properties": {
                              "code": {
                                "type": "string",
                                "enum": [
                                  "af",
                                  "sq",
                                  "ar",
                                  "az",
                                  "bn",
                                  "bg",
                                  "ca",
                                  "zh_CN",
                                  "zh_HK",
                                  "zh_TW",
                                  "hr",
                                  "cs",
                                  "da",
                                  "nl",
                                  "en",
                                  "en_GB",
                                  "en_US",
                                  "et",
                                  "fil",
                                  "fi",
                                  "fr",
                                  "ka",
                                  "de",
                                  "el",
                                  "gu",
                                  "ha",
                                  "he",
                                  "hi",
                                  "hu",
                                  "id",
                                  "ga",
                                  "it",
                                  "ja",
                                  "kn",
                                  "kk",
                                  "ko",
                                  "lo",
                                  "lv",
                                  "lt",
                                  "mk",
                                  "ms",
                                  "ml",
                                  "mr",
                                  "nb",
                                  "fa",
                                  "pl",
                                  "pt_BR",
                                  "pt_PT",
                                  "pa",
                                  "ro",
                                  "ru",
                                  "sr",
                                  "sk",
                                  "sl",
                                  "es",
                                  "es_AR",
                                  "es_ES",
                                  "es_MX",
                                  "sw",
                                  "sv",
                                  "ta",
                                  "te",
                                  "th",
                                  "tr",
                                  "uk",
                                  "ur",
                                  "uz",
                                  "vi",
                                  "zu"
                                ],
                                "example": "en_US"
                              }
                            }
                          },
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["header", "body", "button"]
                                },
                                "sub_type": {
                                  "type": "string",
                                  "enum": ["quick_reply", "url", "phone_number"]
                                },
                                "index": {
                                  "type": "string",
                                  "description": "Button index (required for button type)"
                                },
                                "parameters": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text",
                                          "image",
                                          "currency",
                                          "date_time",
                                          "document",
                                          "video"
                                        ],
                                        "description": "Required. Describes the parameter type."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "Required when type=text. The message's text. Character limit varies based on included component type - 60 chars for header, 1024 chars for body with other components, 32768 chars for body only."
                                      },
                                      "image": {
                                        "type": "object",
                                        "description": "Required when type=image. A media object of type image. Captions not supported when used in a media template."
                                      },
                                      "currency": {
                                        "type": "object",
                                        "description": "Required when type=currency. A currency object.",
                                        "properties": {
                                          "fallback_value": {
                                            "type": "string"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "amount_1000": {
                                            "type": "number"
                                          }
                                        }
                                      },
                                      "date_time": {
                                        "type": "object",
                                        "description": "Required when type=date_time. A date_time object.",
                                        "properties": {
                                          "fallback_value": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "document": {
                                        "type": "object",
                                        "description": "Required when type=document. A media object of type document. Only PDF documents are supported for media-based message templates. Captions not supported when used in a media template."
                                      },
                                      "video": {
                                        "type": "object",
                                        "description": "Required when type=video. A media object of type video. Captions not supported when used in a media template."
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "template",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["interactive"]
                      },
                      "interactive": {
                        "required": ["type", "action"],
                        "properties": {
                          "type": {
                            "enum": [
                              "button",
                              "list",
                              "product",
                              "product_list",
                              "catalog_message",
                              "flow"
                            ]
                          },
                          "header": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": ["text", "video", "image", "document"],
                                "description": "Required. The header type you would like to use."
                              },
                              "text": {
                                "type": "string",
                                "description": "Required if type is set to text. Text for the header. Formatting allows emojis, but not markdown.",
                                "maxLength": 60
                              }
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Required. The message body text."
                              }
                            }
                          },
                          "footer": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Optional footer text."
                              }
                            }
                          },
                          "action": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "enum": ["flow"],
                                "description": "Required for Flow Messages. Must be 'flow'."
                              },
                              "parameters": {
                                "type": "object",
                                "properties": {
                                  "mode": {
                                    "type": "string",
                                    "enum": ["draft", "published"],
                                    "default": "published",
                                    "description": "Optional. The Flow mode."
                                  },
                                  "flow_message_version": {
                                    "type": "string",
                                    "enum": ["3"],
                                    "description": "Required. Must be '3'."
                                  },
                                  "flow_token": {
                                    "type": "string",
                                    "description": "Required. Flow token generated by business as identifier."
                                  },
                                  "flow_id": {
                                    "type": "string",
                                    "description": "Required. Unique ID of Flow provided by WhatsApp."
                                  },
                                  "flow_cta": {
                                    "type": "string",
                                    "maxLength": 20,
                                    "description": "Required. Text on CTA button. No emoji allowed."
                                  },
                                  "flow_action": {
                                    "type": "string",
                                    "enum": ["navigate", "data_exchange"],
                                    "default": "navigate",
                                    "description": "Optional. Use navigate to predefine first screen, data_exchange for advanced cases."
                                  },
                                  "flow_action_payload": {
                                    "type": "object",
                                    "description": "Required only if flow_action is navigate.",
                                    "properties": {
                                      "screen": {
                                        "type": "string",
                                        "description": "Required. ID of first screen of Flow."
                                      },
                                      "data": {
                                        "type": "object",
                                        "description": "Optional. Input data for first screen. Must be non-empty if provided."
                                      }
                                    },
                                    "required": ["screen"]
                                  }
                                },
                                "required": [
                                  "flow_message_version",
                                  "flow_token",
                                  "flow_id",
                                  "flow_cta"
                                ]
                              }
                            },
                            "required": ["name", "parameters"]
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "interactive",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": [
                          "audio",
                          "document",
                          "image",
                          "sticker",
                          "video"
                        ]
                      },
                      "media": {
                        "oneOf": [
                          {
                            "required": ["id"]
                          },
                          {
                            "required": ["link"]
                          }
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID. Required when not using link."
                          },
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the media. Required when not using id."
                          },
                          "caption": {
                            "type": "string",
                            "description": "Optional caption for media (not for audio or sticker)",
                            "maxLength": 1024
                          },
                          "filename": {
                            "type": "string",
                            "description": "Optional filename for document media"
                          },
                          "provider": {
                            "type": "string",
                            "description": "Optional provider configuration for media access (On-Premises API only)"
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "media",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  },
                  {
                    "properties": {
                      "type": {
                        "enum": ["location"]
                      },
                      "location": {
                        "required": [
                          "latitude",
                          "longitude",
                          "name",
                          "address"
                        ],
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "description": "Location latitude in decimal degrees",
                            "example": 37.483872
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Location longitude in decimal degrees",
                            "example": -122.148362
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the location",
                            "example": "Meta Headquarters"
                          },
                          "address": {
                            "type": "string",
                            "description": "Address of the location",
                            "example": "1 Hacker Way, Menlo Park, CA 94025"
                          }
                        }
                      },
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "example": "+16505551234"
                      },
                      "context": {
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "example": "<MSGID_OF_MSG_YOU_ARE_REPLYING_TO>"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "location",
                      "messaging_product",
                      "recipient_type",
                      "to"
                    ]
                  }
                ]
              },
              "examples": {
                "Mark Message As Read": {
                  "value": {
                    "message_id": "wamid.234123",
                    "messaging_product": "whatsapp",
                    "status": "read"
                  }
                },
                "Send Audio Message by ID": {
                  "value": {
                    "audio": {
                      "id": "<AUDIO_OBJECT_ID>"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "audio"
                  }
                },
                "Send Audio Message by URL": {
                  "value": {
                    "audio": {
                      "link": "<http(s)://audio-url>"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "audio"
                  }
                },
                "Send Catalog Message": {
                  "value": {
                    "interactive": {
                      "action": {
                        "name": "catalog_message",
                        "parameters": {
                          "thumbnail_product_retailer_id": "2lc20305pt"
                        }
                      },
                      "body": {
                        "text": "Hello! Thanks for your interest. Ordering is easy. Just visit our catalog and add items to purchase."
                      },
                      "footer": {
                        "text": "Best grocery deals on WhatsApp!"
                      },
                      "type": "catalog_message"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "+16505551234",
                    "type": "interactive"
                  }
                },
                "Send Catalog Template Message": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "parameters": [
                            {
                              "text": "100",
                              "type": "text"
                            },
                            {
                              "text": "400",
                              "type": "text"
                            },
                            {
                              "text": "3",
                              "type": "text"
                            }
                          ],
                          "type": "body"
                        },
                        {
                          "index": 0,
                          "parameters": [
                            {
                              "action": {
                                "thumbnail_product_retailer_id": "2lc20305pt"
                              },
                              "type": "action"
                            }
                          ],
                          "sub_type": "CATALOG",
                          "type": "button"
                        }
                      ],
                      "language": {
                        "code": "en_US"
                      },
                      "name": "intro_catalog_offer"
                    },
                    "to": "+16505551234",
                    "type": "template"
                  }
                },
                "Send Contact Message": {
                  "value": {
                    "contacts": [
                      {
                        "addresses": [
                          {
                            "city": "Menlo Park",
                            "country": "United States",
                            "country_code": "us",
                            "state": "CA",
                            "street": "1 Hacker Way",
                            "type": "HOME",
                            "zip": "94025"
                          },
                          {
                            "city": "Menlo Park",
                            "country": "United States",
                            "country_code": "us",
                            "state": "CA",
                            "street": "200 Jefferson Dr",
                            "type": "WORK",
                            "zip": "94025"
                          }
                        ],
                        "birthday": "2012-08-18",
                        "emails": [
                          {
                            "email": "test@fb.com",
                            "type": "WORK"
                          },
                          {
                            "email": "test@whatsapp.com",
                            "type": "HOME"
                          }
                        ],
                        "name": {
                          "first_name": "John",
                          "formatted_name": "John Smith",
                          "last_name": "Smith",
                          "middle_name": "D.",
                          "prefix": "Dr",
                          "suffix": "Jr"
                        },
                        "org": {
                          "company": "WhatsApp",
                          "department": "Design",
                          "title": "Manager"
                        },
                        "phones": [
                          {
                            "phone": "+1 (940) 555-1234",
                            "type": "HOME"
                          },
                          {
                            "phone": "+1 (650) 555-1234",
                            "type": "WORK",
                            "wa_id": "16505551234"
                          }
                        ],
                        "urls": [
                          {
                            "type": "WORK",
                            "url": "https://www.facebook.com"
                          },
                          {
                            "type": "HOME",
                            "url": "https://www.whatsapp.com"
                          }
                        ]
                      }
                    ],
                    "messaging_product": "whatsapp",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "contacts"
                  }
                },
                "Send Document Message by ID": {
                  "value": {
                    "document": {
                      "caption": "<DOCUMENT_CAPTION_TO_SEND>",
                      "filename": "<DOCUMENT_FILENAME>",
                      "id": "<DOCUMENT_OBJECT_ID>"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "document"
                  }
                },
                "Send Document Message by URL": {
                  "value": {
                    "document": {
                      "caption": "<DOCUMENT-CAPTION-TEXT>",
                      "link": "<http(s)://document-url>"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "document"
                  }
                },
                "Send Image Message by ID": {
                  "value": {
                    "image": {
                      "id": "<IMAGE_OBJECT_ID>"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "image"
                  }
                },
                "Send Image Message by URL": {
                  "value": {
                    "image": {
                      "link": "http(s)://image-url"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "image"
                  }
                },
                "Send List Message": {
                  "value": {
                    "interactive": {
                      "action": {
                        "button": "<BUTTON_TEXT>",
                        "sections": [
                          {
                            "rows": [
                              {
                                "description": "<SECTION_1_ROW_1_DESC>",
                                "id": "<LIST_SECTION_1_ROW_1_ID>",
                                "title": "<SECTION_1_ROW_1_TITLE>"
                              },
                              {
                                "description": "<SECTION_1_ROW_2_DESC>",
                                "id": "<LIST_SECTION_1_ROW_2_ID>",
                                "title": "<SECTION_1_ROW_2_TITLE>"
                              }
                            ],
                            "title": "<LIST_SECTION_1_TITLE>"
                          },
                          {
                            "rows": [
                              {
                                "description": "<SECTION_2_ROW_1_DESC>",
                                "id": "<LIST_SECTION_2_ROW_1_ID>",
                                "title": "<SECTION_2_ROW_1_TITLE>"
                              },
                              {
                                "description": "<SECTION_2_ROW_2_DESC>",
                                "id": "<LIST_SECTION_2_ROW_2_ID>",
                                "title": "<SECTION_2_ROW_2_TITLE>"
                              }
                            ],
                            "title": "<LIST_SECTION_2_TITLE>"
                          }
                        ]
                      },
                      "body": {
                        "text": "<BODY_TEXT>"
                      },
                      "footer": {
                        "text": "<FOOTER_TEXT>"
                      },
                      "header": {
                        "text": "<HEADER_TEXT>",
                        "type": "text"
                      },
                      "type": "list"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "interactive"
                  }
                },
                "Send Location Message": {
                  "value": {
                    "location": {
                      "address": "1 Hacker Way, Menlo Park, CA 94025",
                      "latitude": 37.758056,
                      "longitude": -122.425332,
                      "name": "META HQ"
                    },
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "location"
                  }
                },
                "Send Message Template Interactive": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "parameters": [
                            {
                              "image": {
                                "link": "http(s)://the-image-url"
                              },
                              "type": "image"
                            }
                          ],
                          "type": "header"
                        },
                        {
                          "parameters": [
                            {
                              "text": "text-string",
                              "type": "text"
                            },
                            {
                              "currency": {
                                "amount_1000": 100990,
                                "code": "USD",
                                "fallback_value": "$100.99"
                              },
                              "type": "currency"
                            },
                            {
                              "date_time": {
                                "calendar": "GREGORIAN",
                                "day_of_month": 25,
                                "day_of_week": 5,
                                "fallback_value": "February 25, 1977",
                                "hour": 15,
                                "minute": 33,
                                "month": 2,
                                "year": 1977
                              },
                              "type": "date_time"
                            }
                          ],
                          "type": "body"
                        },
                        {
                          "index": "0",
                          "parameters": [
                            {
                              "payload": "aGlzIHRoaXMgaXMgY29v",
                              "type": "payload"
                            }
                          ],
                          "sub_type": "quick_reply",
                          "type": "button"
                        },
                        {
                          "index": "1",
                          "parameters": [
                            {
                              "payload": "9rwnB8RbYmPF5t2Mn09x4h",
                              "type": "payload"
                            }
                          ],
                          "sub_type": "quick_reply",
                          "type": "button"
                        }
                      ],
                      "language": {
                        "code": "en_US"
                      },
                      "name": "template-name"
                    },
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "template"
                  }
                },
                "Send Message Template Media": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "parameters": [
                            {
                              "image": {
                                "link": "http(s)://the-image-url"
                              },
                              "type": "image"
                            }
                          ],
                          "type": "header"
                        },
                        {
                          "parameters": [
                            {
                              "text": "text-string",
                              "type": "text"
                            },
                            {
                              "currency": {
                                "amount_1000": 100990,
                                "code": "USD",
                                "fallback_value": "$100.99"
                              },
                              "type": "currency"
                            },
                            {
                              "date_time": {
                                "calendar": "GREGORIAN",
                                "day_of_month": 25,
                                "day_of_week": 5,
                                "fallback_value": "February 25, 1977",
                                "hour": 15,
                                "minute": 33,
                                "month": 2,
                                "year": 1977
                              },
                              "type": "date_time"
                            }
                          ],
                          "type": "body"
                        }
                      ],
                      "language": {
                        "code": "en_US"
                      },
                      "name": "template-name"
                    },
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "template"
                  }
                },
                "Send Message Template Text": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "template": {
                      "components": [
                        {
                          "parameters": [
                            {
                              "text": "text-string",
                              "type": "text"
                            },
                            {
                              "currency": {
                                "amount_1000": 100990,
                                "code": "USD",
                                "fallback_value": "$100.99"
                              },
                              "type": "currency"
                            },
                            {
                              "date_time": {
                                "calendar": "GREGORIAN",
                                "day_of_month": 25,
                                "day_of_week": 5,
                                "fallback_value": "February 25, 1977",
                                "hour": 15,
                                "minute": 33,
                                "month": 2,
                                "year": 1977
                              },
                              "type": "date_time"
                            }
                          ],
                          "type": "body"
                        }
                      ],
                      "language": {
                        "code": "en_US"
                      },
                      "name": "template-name"
                    },
                    "to": "{{Recipient-Phone-Number}}",
                    "type": "template"
                  }
                },
                "Send Multi-Product Message": {
                  "value": {
                    "interactive": {
                      "action": {
                        "catalog_id": "146265584024623",
                        "sections": [
                          {
                            "product_items": [
                              {
                                "product_retailer_id": "<YOUR_PRODUCT1_SKU_IN_CATALOG>"
                              },
                              {
                                "product_retailer_id": "<YOUR_SECOND_PRODUCT1_SKU_IN_CATALOG>"
                              }
                            ],
                            "title": "<SECTION1_TITLE>"
                          },
                          {
                            "product_items": [
                              {
                                "product_retailer_id": "<YOUR_PRODUCT2_SKU_IN_CATALOG>"
                              },
                              {
                                "product_retailer_id": "<YOUR_SECOND_PRODUCT2_SKU_IN_CATALOG>"
                              }
                            ],
                            "title": "<SECTION2_TITLE>"
                          }
                        ]
                      },
                      "body": {
                        "text": "<YOUR_TEXT_BODY_CONTENT>"
                      },
                      "footer": {
                        "text": "<YOUR_TEXT_FOOTER_CONTENT>"
                      },
                      "header": {
                        "text": "<YOUR_TEXT_HEADER_CONTENT>",
                        "type": "<HEADER_TYPE>"
                      },
                      "type": "product_list"
                    },
                    "messaging_product": "whatsapp",
[...]
